<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Document</title>
    <link rel="stylesheet" href="stylesheetv1.css">
</head>
<body>
    <header class="header">
        <img src="../images/puplogo.png"
        height="100">

        <a href="#" class="logo">Polytechnic University of the Philippines - Quezon City Branch    
    <p><h1 style="color:#FEDE05;">OFFICE OF THE REGISTRAR</h1></p> </a>
        
        <!-- Your navigation bar -->
    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="2services.html">Services</a>
        <a href="3contact.html">Contact</a>
        <a href="4faqs.html">FAQs</a>
    </nav>
    </header>

    <section class="contactUs">
        <div class="container">
            <h1 style="font-size: 65px; color: maroon; margin-left: 370px; margin-top: 25px;">LIST OF DOCUMENTS</h1>
        </section>

        <div class="documentList">
            <br><table border="1">
                <tr>
                    <th>Documents Available for Online Request</th>
                    <th>Add to Cart</th>
            </tr>
                <tr>
                <td>(1st Copy) TOR (for board exam) + Diploma + Certificate of Graduation</td>
                <td> + Cart </td>
            </tr>
                <tr>
                <td>(1st Copy) TOR + Diploma + Certificate of Graduation</td>
                <td> + Cart </td>
            </tr>
                <tr>
                <td>CAV-CHED (Commission on Higher Education)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>CAV-DFA/Apostille - for UAE and Qatar (For Graduates)</td>
                <td> + Cart </td>
                </tr>
                <td>CAV-DFA/Apostille - for UAE and Qatar (For NON-Graduate)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>CAV-DFA/Apostille - Red Ribbon (For Graduates)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>CAV-DFA/Apostille - Red Ribbon (For Undergrad)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>CAV-DFA/Apostille - Red Ribbon (Fresh grad w/o diploma)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>CAV-PRC</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certificate of Grades (For Cross Enrollee)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certificate of Transfer Credential (Honorable Dismissal)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certificate of Units Earned</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification for NSTP Serial Number</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of English as Medium Of instruction</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of English as Medium Of instruction for Australia</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of English as Medium Of instruction for Japan</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of Enrollment/Attendance</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of General Weighted Average (G.W.A.)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of Graduation</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of Non-Issuance of Special Order (S.O.)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certification of Subject Description</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certified True Copy of Diploma</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Certified True Copy of Transcript of Records</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Diploma - 1st Copy</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Diploma - 2nd Copy</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Diploma Replacement Copy</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Informative Copy of Grades / Certified Copy of Grades</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <th><bold>Other Special Requests</bold></th>
                </tr>
                <tr>
                <td>Re-print Credentials / Counter Checking</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Retrieval of Unclaimed Request</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Special Certification required by Agency/gov't Offices</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - Copy for (Graduated, 4 Year Program)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - Copy for (Graduated, 5 Year Program)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - Copy for (Undergraduate) 1st Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - Copy for (Undergraduate) 2nd Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - Copy for (Undergraduate) 3rd and 4th Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - Copy for (Undergraduate) 5th Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For board/licensure exam (Graduated, 4 Year Program)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For board/licensure exam (Graduated, 5 Year Program)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For evaluation/reference (Graduated, 4 Year Program)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For evaluation/reference (Graduated, 5 Year Program)</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For evaluation/reference (Undergraduate) 1st Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For evaluation/reference (Undergraduate) 2nd Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For evaluation/reference (Undergraduate) 3rd and 4th Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>Transcript of Records - For evaluation/reference (Undergraduate) 5th Year</td>
                <td> + Cart </td>
                </tr>
                <tr>
                <td>WES Form, ICES Form, IQAS Form</td>
                <td> + Cart </td>
            </tr>
        </table>
        </div>

        <button class="btn btn-success2 px-5 poppins" type="button" id="nextToPage2" onclick="goToPage2()" style="margin-top: 1020px;"><b>Next</b></button>
                <script>
                     function goToPage2() {
                        window.location.href = "addDocument.html"; // Link to the page2.html file
    }
                </script>

        
    </section>
</body>       
</html>