<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reflected Information</title>
    
    <link rel="stylesheet" href="stylesheetv1.css">

    
</head>
<body>
    <header class="header">
       <img src="assets/img/uodr/UODR LOGO.png" height="100">

        <a href="#" class="logo">Polytechnic University of the Philippines - Quezon City Branch    
    <p><h1 style="color:#FEDE05;">OFFICE OF THE REGISTRAR</h1></p> </a>
        
        <!-- Your navigation bar -->
    <nav class="navbar">
        <a href="/index.html">Home</a>
        <a href="/index.html">Services</a>
        <a href="/index.html">Contact</a>
        <a href="/index.html">FAQs</a>
    </nav>
    </header>

    <section class="contactUs">
        <div class="container">
            <h1 style="font-size:65px; color:maroon;">REFLECTED INFORMATION</h1> <br>
        </div>
        </section>


    <section class="info">
        <div class="container mb-5">
            <div class="flex-title-pagination">
                <div class="page-title">
                <h3> PERSONAL INFO </h3><br><br><br><br><br><br>
            </div>

            <div class="flex-title-pagination">
                <div class="page-title">
                <h3> ACADEMIC INFO </h3><br><br><br><br><br><br>
            </div>

        <div class="form-group">
            <p class="default-text"><br>I hereby confirm that all information stated above are true and correct</p><br>

        <button class="btn btn-success px-5 poppins" type="button" id="nextToPage2" onclick="goToPage2()"><b>Proceed to Document List</b></button>
                <script>
                     function goToPage2() {
                        window.location.href = "documentList.html"; // Link to personal info file
    }
</script>

        </div>
    </section>
</body>       
</html>