<html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>University Online Document Request</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- UODR LOGO ICON - AYAW GUMANAAAAAA
  <img src="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/png">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>


<body>
  <!-- Add your new header content here -->
  
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">	quezoncity@pup.edu.ph</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>(632) 8287-8204</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.pup.edu.ph/quezoncity/" class="PUPQC Website" target="_blank"><i class="bi bi-link-45deg"></i></a>
        <a href="https://www.facebook.com/ThePUPQCBranchOfficial" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="#" class="question"><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
  </section>

   <!-- ======= Header ======= -->
   <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="index.html"><img src="{% static 'images/myPUPQCDocs(1).png' %}" alt="" height="50"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#faqs">FAQs</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <li class="dropdown">
            <a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/my-profile">Profile</a></li>
                <li><a class="cart-button" href="/cart">Saved Document/s <span class="item-number ">{{ product_count_in_cart }}</span> </a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

</body>
</html>