<html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% if request.user.is_authenticated %}
    {% include "ecom/customer_navbar.html" %}
{% else %}
    {% include "ecom/navbar.html" %}

<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>University Online Document Request</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- UODR LOGO ICON - AYAW GUMANAAAAAA
  <img src="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/png">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>


<body>
  <!-- ======= hero Section ======= -->
  
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      <h3>Welcome to the</h3>
      <h2>University Online Document Request</h2>
      <h4>This facility to request and track documents is intended <b>ONLY</b> for students/alumni who attended PUPQC</h4>
      <div>
        <br>
        <a href="/customersignup" class="btn-get-started scrollto">Request Document</a>
        <a href="/customersignup" class="btn-projects scrollto">Track Document</a>
      </div>
    </div>

    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('{% static 'assets/img/uodr/pup1.jpg' %}');"></div>
        <div class="swiper-slide" style="background-image: url('{% static 'assets/img/uodr/pup2.jpg' %}');"></div>
        <div class="swiper-slide" style="background-image: url('{% static 'assets/img/uodr/pup3.jpg' %}');"></div>
        <div class="swiper-slide" style="background-image: url('{% static 'assets/img/uodr/pup4.jpg' %}');"></div>
      </div>
    </div>

  </section><!-- End Hero Section -->
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="{% static 'assets/img/uodr/3d-casual-life-sheets-of-documents.png' %}" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Say goodbye to delays and paperwork hassles</h2>
            <h3>Experience a user-friendly journey from document requesting to secure delivery!</h3>

            <ul>
              <li><i class="bi bi-check-circle"></i> Request your needed documents</li>
              <li><i class="bi bi-check-circle"></i> Track it's progress</li>
              <li><i class="bi bi-check-circle"></i> Whether you're a STUDENT or ALUMNI, our comprehensive Online Document Request System ensures a seamless process.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2 style="color: #800000;">Services</h2>
          <p>Seamlessly request your academic documents, verify their authenticity with our robust verification service, effortlessly track their progress, and experience hassle-free delivery to your doorstep. Your academic journey just got simpler and more secure.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="/customersignup">Request a Document</a></h4>
              <p class="description">Effortlessly request transcripts, certificates, and letters with a few clicks. Our user-friendly interface makes document requests a breeze, putting you in control of your academic records.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Document Verification</a></h4>
              <p class="description">Ensure the authenticity of your academic credentials with our document verification service. The University Admins can easily verify the legitimacy of your transcripts and certificates, adding an extra layer of trust to your educational achievements.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Track your Document</a></h4>
              <p class="description">Stay in the loop with real-time updates on the status of your document requests. No more uncertainty—know exactly when your documents are being processed and when they'll be in your hands.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Deliver your Document</a></h4>
              <p class="description">Choose the delivery method that suits you best—whether it's traditional mail, convenient pickup, or instant digital download. We ensure the secure and confidential delivery of your important academic documents.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    

    <!-- ======= FAQS Section ======= -->
    <section id="faqs" class="faq section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2 style="color: #800000;">Frequently Asked Questions</h2>
          <p>Got questions? Explore our FAQ section to find quick solutions to common queries about the University Online Document Request System. Whether you're wondering about the document request process, tracking your requests, or delivery details, we've compiled the most frequently asked questions to make your experience as smooth as possible. If your question isn't here, feel free to reach out to our support team.</p>
        </div>

        <div class="accordion-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">How do I request academic documents online? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>
    
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">What documents can I request through the system? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>
    
            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Is there a fee associated with document requests? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                </p>
              </div>
            </li>
    
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">How can I track the status of my document request? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>
    
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed">What is the estimated delivery time for requested documents? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed">Can I cancel or modify a document request after submission? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-7" class="collapsed">How do I verify the authenticity of the received documents? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-8" class="collapsed">What security measures are in place to protect my personal information? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-8" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-9" class="collapsed">Is there a limit to the number of document requests I can submit at once? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-9" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-10" class="collapsed">What should I do if there is an error in the documents I received? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-10" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                </p>
              </div>
            </li>
    
          </ul>
        </div>
        
        

      </div>
    </section><!-- End FAQs Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2 style="color: #800000;">Contact Us</h2>
          <p>Have questions or need assistance? Reach out to us at PUPQC's contact hub. Our dedicated team is here to provide prompt and friendly support. Whether you have inquiries about the University Online Document Request System or need general assistance, we're just a message away. 
            
            <br><br>Leave any message of feedback you want the team to know and further improve on. Your academic experience matters, and we're here to help you every step of the way.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-3">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>Don Fabian, Quezon City, 1121 Metro Manila</address>
            </div>
          </div>

          <div class="col-md-3">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Telephone Number</h3>
              <p><a href="tel:+155895548855">(02) 8952 7818</a></p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">pupcommonwealth@pup.edu.ph</a></p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="contact-phone">
              <i class="bi bi-clock"></i>
              <h3>Working Hours</h3>
              <p>Monday to Saturday<br>8:00 AM - 5:00 PM</p>
            </div>
          </div>

        </div>
      </div>

      <div class="container mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61752.90268288976!2d121.0247137818679!3d14.681096968421388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ba7528549fb1%3A0x62d21f0cc60f364d!2sPolytechnic%20University%20of%20the%20Philippines%20Quezon%20City!5e0!3m2!1sen!2sph!4v1701059139786!5m2!1sen!2sph" width="1285" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="container">
        <div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>

            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>

            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; 2023 <strong>Polytechnic University of the Philippines, Quezon City Branch</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <a href="https://www.pup.edu.ph/terms/" target="_blank">Terms of Use</a> | 
        <a href="https://www.pup.edu.ph/privacy/" target="_blank">Privacy Statement</a>
      </div>      
    </div>
  </footer>
  
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

{%endif%}
            <center><div class="navbar-search smallsearch col-sm-7 col-xs-11 text-center mt-3 mb-3">
              <form action="/search" method="get">
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="input-group">
                              <input class="form-control" type="search" placeholder="Search for Products, Brands and more" name="query" id="query">
                              <button class="btn btn-outline-secondary" type="submit">
                                  <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M11.742 10.344a7.5 7.5 0 1 0-1.397 1.398h0a7.5 7.5 0 0 0 1.397-1.398zM14 7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      
        </center>

        </div>
    </div>
</div>

  


<!-- content start-->
{% block content %}

{% endblock content %}
{% include "ecom/footer.html" %}

</body>
</html>
