{% extends 'ecom/customer_base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<head>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.' %}css" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.' %}css" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<!--
<div class="row">
  <div class="col-md-12">
    <div class="slider-container">
      <div class="menu">
        <label for="slide-dot-1"></label>
        <label for="slide-dot-2"></label>
        <label for="slide-dot-3"></label>
        <label for="slide-dot-4"></label>
      </div>
      
      <input id="slide-dot-1" type="radio" name="slides" checked>
        <div class="slide slide-1"></div>
      
      <input id="slide-dot-2" type="radio" name="slides">
        <div class="slide slide-2"></div>
      
      <input id="slide-dot-3" type="radio" name="slides">
        <div class="slide slide-3"></div>
      <input id="slide-dot-4" type="radio" name="slides">
        <div class="slide slide-4"></div>
    </div>
  </div>
</div>
-->


  {%if products%}
  <h3 style="text-align:center; color:#3E454C;">{{word}}</h3>
  <br>
  
  <!-- products data start -->
  <center>
    <div class="row">
      {% for p in products %}
      <div class="col-md-4 mb-4">
          <!-- Card -->
          <div class="card">
              <img src="{% static p.product_image.url %}" class="card-img-top" alt="Product Image">
              <div class="card-body">
                  <h5 class="card-title">{{p.name}}</h5>
                  <p class="card-text">{{p.description}}</p>
              </div>
              <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                      <span class="price">${{p.price}}</span>
                      <a href="{% url 'add-to-cart' p.id %}" class="btn btn-primary">
                          <i class="fa fa-shopping-cart"></i> Add for Request
                      </a>
                  </div>
              </div>
          </div>
          <!-- End Card -->
      </div>
  
      {% if forloop.counter|divisibleby:"3" %}
          </div>
          <div class="row">
              <div class="mb-5"></div> <!-- Add some margin between rows -->
          </div>
      {% endif %}
  
      {% endfor %}
  </div>  


<!-- products data end -->


{%else%}
<h3 style="text-align:center; color:#3E454C;">No Search Found</h3>
{%endif%}

<script>
    {%if messages %}
    {%for message in messages%}
    alert('{{message}}');
    {%endfor%}
    {%endif%}
</script>
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>






{% endblock content %}
